// Colores principales
$primary: #0a7dff;
$secondary: #6c757d;

// Colores de fondo
$background: #f8f9fa;
$background-light: #ffffff;

// Colores de texto
$text-primary: #333333;
$text-secondary: #6c757d;